html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  max-width: 800px;
  width: 100%;
  margin: auto;
}
* {
  box-sizing: border-box;
}
#app {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr auto auto;
}
h1 {
  text-align: center;
}

main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

main > div {
  text-align: center;
}

.list {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  gap: 8px;
  /* height: calc(30px * 6 + 8px * 5 + 8px * 2); */
  padding: 8px;
}

.list li {
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: #ffffff;
}
.list.a {
  background-color: rgba(255, 86, 87, 0.1);
}
.list.a li {
  background-color: #ff5657;
}
.list.b {
  background-color: rgba(55, 108, 138, 0.1);
}
.list.b li {
  background-color: #376c8a;
}
.list.c {
  background-color: rgba(242, 217, 187, 0.1);
}
.list.c li {
  background-color: #f2d9bb;
}
.list.selected {
  background-color: #638fa9;
}

footer {
  height: 36px;
  font-size: 18px;
  text-align: center;
}

button {
  border: none;
  cursor: pointer;
  height: 36px;
  font-size: 18px;
  background-color: #00e6f67c;
  color: #ffffff;
  transition: all 0.2s;
}
button:hover {
  background-color: #00e6f6;
}
